<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>innisfree</title>
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header class="header">
            <div class="main-container clearfix">
                <h1 class="hidden">innisfree</h1>
                <div class="logo"><a href="javascript:;"><img src="../assets/images/logo.png" alt="이니스프리 로고"></a></div>
                <div class="pc-lnb">
                    <a href="javascript:;"><img src="../assets/images/pc-lnb-btn.png" alt="피씨 메뉴 아이콘"></a>
                </div>
            </div>
        </header>
    </body>
</html>
