<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>innisfree</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <!-- swiperJs css -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
        <!-- swiperJs js -->
        <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
        <!-- js 기술 -->
        <script src="../assets/js/script.js"></script>
        
    </head>
    <body>
        <header class="header">
            <div class="main-container clearfix">
                <h1 class="hidden">innisfree</h1>
                <div class="logo"><a href="javascript:;"><img src="../assets/images/logo.png" alt="이니스프리 로고"></a></div>
                <div class="pc-lnb">
                    <a href="javascript:;"><img src="../assets/images/pc-lnb-btn.png" alt="피씨 메뉴 아이콘"></a>
                </div>
            </div>
        </header>
        <!-- header end; -->

        <section class="wrap">
            <article class="main-visual swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-img01">
                        <div class="main-container">
                            <div class="txt-area">
                                <p class="sub-title">SNS대란</p>
                                <p class="title">토닉워터로 청량하게</p>
                                <p class="view-btn"><a href="javascript:;">자세히보기</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-img02">
                        <div class="main-container">
                            <div class="txt-area">
                                <p class="sub-title">바디</p>
                                <p class="title">
                                    건조한 - 피부 <br>
                                    촉촉하게 보습
                                </p>
                                <p class="view-btn"><a href="javascript:;">자세히보기</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-img03">
                        <div class="main-container">
                            <div class="txt-area">
                                <p class="sub-title">SNS대란</p>
                                <p class="title">
                                    화이트 데이, <br>
                                    토닉워터로 마음을 <br>
                                    전하세요
                                </p>
                                <p class="view-btn"><a href="javascript:;">자세히보기</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination mv-pg-nation"></div>
                <div class="control-area main-container">
                    <!-- Add Arrows -->
                    <button type="button" class="swiper-button-next mv-btn-next"></button>
                    <button type="button" class="swiper-button-prev mv-btn-prev"></button>                
                    <div class="control-autoplay">
                        <button type="button" class="play" onclick="autoplayPlay();"></button>
                        <button type="button" class="stop" onclick="autoplayStop();"></button>
                    </div>
                </div>
                <script>
                    let swiper01 = new Swiper('.main-visual', {
                        loop : true,
                        speed: 1000,
                        autoplay: {
                            delay: 3000,
                        },
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                            type: 'fraction',
                        },
                        navigation: {
                            nextEl: '.mv-btn-next',
                            prevEl: '.mv-btn-prev',
                        }
                    });
                    // autoplay play/stop js
                    function autoplayPlay(){
                        swiper01.autoplay.start();
                    }
                    function autoplayStop(){
                        swiper01.autoplay.stop();
                    }
                </script>
                <!-- swiper js -->
            </article>
            <!-- main-visual end; -->
            <article class="main-article01" style="background-image: url(../assets/images/main-article01-bg.png);">
                <div class="main-container clearfix">
                    <div class="img-area">
                        <img src="../assets/images/main-article01-img.png" alt="제품 이미지">
                    </div>
                    <div class="txt-area">
                        <p class="sub-txt">heal your skin</p>
                        <p class="title">제주 암반수로 매끈하게</p>
                        <p class="content">
                            깨끗한 제주 암반수를 그대로 담은 고농축 에센스, <br>
                            변화를 느껴보세요.
                        </p>                        
                        <p class="view-detail"><a href="javascript:;">자세히보기</a></p>
                    </div>
                </div>
            </article>
        </div>
        <!-- wrap end; -->
    </body>
</html>
