@charset "UTF-8";

.main-article01{
    background-size: cover;
    background-repeat: no-repeat;
    .img-area{
        float: left;
    }
    .txt-area{
        float: left;
        margin-left: 140px; margin-top: 190px;
    }
}