@charset "UTF-8";

.main-article01{
    background-size: 100%;
    background-repeat: no-repeat;
    .img-area{
        float: left;
    }
    .txt-area{
        float: left;
        margin-left: 10%; margin-top: 13%;
        .sub-txt{
            letter-spacing: 7.5px; color: $bbbFont; 
            font-size: 18px;
        }
        .title{
            margin: 15px 0 30px;
            @include bigFont;
            font-size: 26px;
        }
        .content{
            margin-bottom: 35px;
            color: #b2a8a2; line-height: 26px;
        }
        .view-detail{
            a{
                position: relative;
                display: inline-block;
                color: $grey6Font;
                &:after{
                    content: '';
                    display: inline-block;
                    position: absolute; top: 50%;
                    width: 0; height: 1px;
                    margin-left: 10px;
                    transition: width 0.3s;
                    background: $grey6Font;
                }
                &:hover:after{
                    width: 65px;
                }
            }
        }
    }
}