@charset "UTF-8";

.quickmenu{
    position: fixed;
    bottom: 30px; right: calc(100%/29);
    z-index: 1;
    @include breakPoint(992px){
        right: 24px;
    }
    @include breakPoint(720px){
        right: 16px;
    }
    .totop-btn{
        display: none;
        a{
            display: inline-block;
            width: 50px; height: 50px;
            background: url(../images/totop-quick-btn.png);
            opacity: 0.5;
            transition: all 0.3s;
            &:hover{
                opacity: 1;
            }
            @include breakPoint(992px){
                opacity: 1;
            }
        }
    }
}