@charset "UTF-8";

body{
    font-size: 15px; font-weight: 500; color: $primaryFont;
    font-family: Lato, NanumGothic, NanumSquare, san-serif;
}

.main-container{
    position: relative;
    max-width: 1500px; height: 100%;
    margin: 0 auto;
}

.main-content-container{
    position: relative;
    max-width: 1500px; height: 100%;
    margin: 110px auto 0;
}
