@charset "UTF-8";

footer{
    margin: 100px 0 0 0;
    .top-side{
        line-height: 45px;
        border-top: 1px solid $bbbFont;
        border-bottom: 1px solid $bbbFont;
        li{
            float: left;
            margin-right: 12px;
            a{
                color: $grey9Font;
                &:after{
                    content: '';
                    display: inline-block;
                    width: 1px; height: 12px;
                    margin-left: 12px;
                    background: $bbbFont;
                    vertical-align: middle;
                }
            }
            &.privacy-policy{
                margin-right: 0;
                a{
                    color: $grey6Font; font-weight: 700;
                    &:after{display: none;}
                }
            }
        }
    }
    .bottom-side{
        margin: 45px auto;
        font-size: 14px;  color: $grey9Font;
        @include breakPoint(1500px){
            margin: 45px 24px;
        }
        .footer-info01{
            float: left;
            p{               
                margin-bottom: 5px; 
                font-family: Lato;
                &:last-child{margin-bottom: 0;}
            }
            @include breakPoint(980px){
                float: none;
            }
        }
        .footer-info02{
            float: right;
            .sns-area{
                margin-bottom: 20px;
                text-align: right;
                li{
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child{margin-right: 0;}
                }
            }
            @include breakPoint(980px){
                float: none;
                .sns-area{
                    margin: 25px 0 20px;
                    text-align: left;
                }
            }
        }
    }
}
