@charset "UTF-8";

// header css

header{
    line-height: 95px;
    .main-container{
        .logo{
            float: left;
        }
        .pc-lnb-menu{
           position: absolute; top: 50%; right: 0; z-index: 3;
           margin-top: -11px;
            span{
                display: block;
                width: 30px;  height: 2px;
                background: $primaryFont;  
                transition: all 0.3s ease-in-out;
                &:nth-child(2){margin: 8px 0;}
            }
            &.active{
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(45deg);
                span{
                    background: $whiteColor;
                    &:nth-child(1){
                        transition-delay: 0.3s;
                        transform: translateY(13px);
                    }
                    &:nth-child(2){
                        width: 0px;
                        margin: 11px 0;
                    }
                    &:nth-child(3){
                        transition-delay: 0.3s;
                        transform: translateY(-13px) rotate(90deg);
                    }
                }   
            }      
        }
    }
    .pc-lnb-open{
        display: none;
        position: absolute; z-index: 2;
        top: 0; bottom: 0; left: 0; right: 0;
        width: 100%; height: 100%;
        background: $primaryColor;
        overflow-y: auto;
        ul{
            margin: 200px auto 0;
            text-align: center;
            li{
                margin-bottom: 60px;
                line-height: 1;
                a{
                    position: relative;
                    font-size: 30px; color: $whiteColor;
                    &:after{
                        content: '';
                        position: absolute; bottom: -5px; left: 0;
                        display: inline-block;
                        width: 0; height: 2px;
                        background: $whiteColor;
                        transition: width 0.3s;
                    }
                    &:hover:after{
                        width: 100%;
                    }
                }
            }
        }
    }
}