@charset "UTF-8";

// mixin - 자주 쓰는 요소 컴포넌트화

// color!
$primaryColor: #167a68;
$primaryFont: #333333;
$whiteColor: #ffffff;
$bbbFont: #bbbbbb;
$grey6Font: #666666;
$grey9Font: #999999;


@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin border-radius($br){
    -webkit-border-radius: $br;
    -moz-border-radius: $br;
    border-radius: $br;
}

@mixin a-tag {
    display: inline-block;
    width: 100%; height: 100%;
}

@mixin bigFont{
    font-family: NanumSquare;
}

@mixin top-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin left-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin ellipse{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin breakPoint($maxPoint: null, $minPoint: 0){
    @media all and (min-width: #{$minPoint}) and (max-width: #{$maxPoint}){
        @content;
    }
}


.main-content .txt-area{
    float: left;
    margin-left: 10%; margin-top: 13%;
    @include breakPoint(1065px){
        float: none;
        margin-left: 0; margin-top: 45px;
        text-align: center;
    }
    .sub-txt{
        letter-spacing: 7.5px; color: $bbbFont; 
        font-size: 18px;
    }
    .title{
        margin: 15px 0 30px;
        @include bigFont;
        font-size: 26px;
    }
    .content{
        margin-bottom: 35px;
        color: #b2a8a2; line-height: 26px;
    }
    .view-detail{
        a{
            position: relative;
            display: inline-block;
            color: $grey6Font;
            &:after{
                content: '';
                display: inline-block;
                position: absolute; top: 50%;
                width: 0; height: 1px;
                margin-left: 10px;
                transition: width 0.3s;
                background: $grey6Font;
            }
            &:hover:after{
                width: 65px;
                @include breakPoint(992px){
                    width: 0;
                }
            }
        }
    }
}