@charset "UTF-8";

// mixin - 자주 쓰는 요소 컴포넌트화

// color!
$primaryFont: #333333;


@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin border-radius($br){
    -webkit-border-radius: $br;
    -moz-border-radius: $br;
    border-radius: $br;
}

@mixin a-tag {
    display: inline-block;
    width: 100%; height: 100%;
}

@mixin top-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
