@charset "UTF-8";
/* ===================
copyright 문세미 all rights reserved
-------------------------------------
The writer : 문세미
Time for first: 2020-06-23,
Time for refresh lately:
Inheritor : 문세미
====================*/
/* ===================

 ! 가이드라인

 호출 순서 ( 앞에 기재된 scss를 먼저 호출 )
 1. base : reset.css / _font.scss (초기화/폰트)
 2. helper : mixin.scss (SASS믹스인/함수)
 3. layout : _components / _header.scss / _footer.scss (홈페이지의 크고 작은 구성요소)
 4. pages : main / sub 특성화된 scss
 5. vendor : 외부 라이브러리와 프레임워크에서 제공하는 CSS파일

 ※ reset을 제외한 scss앞에 _(언더바)를 붙일 것.
   _(언더바)붙인 파일은 부분화 파일임을 명시함.

====================== */
@import url(base/reset.css);
@import url(vendor/slick.css);
@import url(vendor/slick-theme.css);
@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url("../font/Lato-Light.eot");
  src: url("../font/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Light.woff") format("woff"), url("../font/Lato-Light.otf") format("opentype"), url("../font/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 500;
  src: url("../font/Lato-Regular.eot");
  src: url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Regular.woff") format("woff"), url("../font/Lato-Regular.otf") format("opentype"), url("../font/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url("../font/Lato-Bold.eot");
  src: url("../font/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Bold.woff") format("woff"), url("../font/Lato-Bold.otf") format("opentype"), url("../font/Lato-Bold.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url("../font/Lato-Black.eot");
  src: url("../font/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Black.woff") format("woff"), url("../font/Lato-Black.otf") format("opentype"), url("../font/Lato-Black.ttf") format("truetype"); }
@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  src: url("../font/NanumSquareL.eot");
  src: url("../font/NanumSquareL.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareL.woff") format("woff"), url("../font/NanumSquareL.otf") format("opentype"), url("../font/NanumSquareL.ttf") format("truetype"); }
@font-face {
  font-family: NanumSquare;
  font-weight: 500;
  src: url("../font/NanumSquareR.eot");
  src: url("../font/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareR.woff") format("woff"), url("../font/NanumSquareR.otf") format("opentype"), url("../font/NanumSquareR.ttf") format("truetype"); }
@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  src: url("../font/NanumSquareB.eot");
  src: url("../font/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareB.woff") format("woff"), url("../font/NanumSquareB.otf") format("opentype"), url("../font/NanumSquareB.ttf") format("truetype"); }
@font-face {
  font-family: NanumGothic;
  font-weight: 500;
  src: url("../font/NanumGothic-Regular.eot");
  src: url("../font/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic-Regular.woff") format("woff"), url("../font/NanumGothic-Regular.otf") format("opentype"), url("../font/NanumGothic-Regular.ttf") format("truetype"); }
@font-face {
  font-family: NanumGothic;
  font-weight: 700;
  src: url("../font/NanumGothic-Bold.eot");
  src: url("../font/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic-Bold.woff") format("woff"), url("../font/NanumGothic-Bold.otf") format("opentype"), url("../font/NanumGothic-Bold.ttf") format("truetype"); }
@font-face {
  font-family: NanumGothic;
  font-weight: 900;
  src: url("../font/NanumGothic-ExtraBold.eot");
  src: url("../font/NanumGothic-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic-ExtraBold.woff") format("woff"), url("../font/NanumGothic-ExtraBold.otf") format("opentype"), url("../font/NanumGothic-ExtraBold.ttf") format("truetype"); }
.main-content .txt-area {
  float: left;
  margin-left: 10%;
  margin-top: 13%; }
  .main-content .txt-area .sub-txt {
    letter-spacing: 7.5px;
    color: #bbbbbb;
    font-size: 18px; }
  .main-content .txt-area .title {
    margin: 15px 0 30px;
    font-family: NanumSquare;
    font-size: 26px; }
  .main-content .txt-area .content {
    margin-bottom: 35px;
    color: #b2a8a2;
    line-height: 26px; }
  .main-content .txt-area .view-detail a {
    position: relative;
    display: inline-block;
    color: #666666; }
    .main-content .txt-area .view-detail a:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 0;
      height: 1px;
      margin-left: 10px;
      transition: width 0.3s;
      background: #666666; }
    .main-content .txt-area .view-detail a:hover:after {
      width: 65px; }

body {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  font-family: Lato, NanumGothic, NanumSquare, san-serif; }

.main-container {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto; }

.main-content-container {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: 110px auto 0; }

header {
  line-height: 95px; }
  header .main-container .logo {
    float: left; }
  header .main-container .pc-lnb {
    float: right; }

.main-content {
  background-size: 100%;
  background-repeat: no-repeat; }

.main-article01 .img-area {
  float: left; }

.main-article02 .txt-area {
  float: none;
  margin-top: 3%; }
.main-article02 .img-area {
  margin-top: 45px; }
  .main-article02 .img-area .flip-card-inner {
    position: relative;
    float: left;
    width: 205px;
    height: 205px;
    margin-right: 35px;
    transition: transform 0.5s;
    transform-style: preserve-3d; }
    .main-article02 .img-area .flip-card-inner:last-child {
      margin-right: 0; }
    .main-article02 .img-area .flip-card-inner:hover {
      transform: rotateY(180deg); }
    .main-article02 .img-area .flip-card-inner a {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .main-article02 .img-area .flip-card-inner a.flip-card-back {
        transform: rotateY(180deg); }

.main-article03 .txt-area {
  float: right;
  margin-right: 8%;
  margin-left: 0; }
  .main-article03 .txt-area .title {
    margin: 15px 0 40px; }
  .main-article03 .txt-area li {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px; }
    .main-article03 .txt-area li:last-child {
      margin-right: 0; }

.main-article04 .title {
  margin: 0 0 50px 0;
  text-align: center;
  font-family: NanumSquare;
  font-size: 26px; }
.main-article04 .sale-ranking {
  padding-top: 42px; }
  .main-article04 .sale-ranking li {
    float: left;
    width: calc(100%/4 - 45px); }
    .main-article04 .sale-ranking li:last-child {
      margin-right: 0; }
    .main-article04 .sale-ranking li a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%; }
      .main-article04 .sale-ranking li a .rank-num {
        position: relative;
        width: 40px;
        height: 40px;
        margin: -20px auto 0;
        line-height: 40px;
        text-align: center;
        background: #167a68;
        color: #ffffff; }
        .main-article04 .sale-ranking li a .rank-num.first-rank:before {
          content: '';
          position: absolute;
          top: -21px;
          display: block;
          width: 41px;
          height: 21px;
          text-align: center;
          background: url(../images/icon_crown.png) no-repeat; }
      .main-article04 .sale-ranking li a .product-info {
        margin-top: 50px;
        text-align: center;
        font-family: NanumSquare; }
        .main-article04 .sale-ranking li a .product-info .name {
          font-size: 17px;
          color: #666666; }
        .main-article04 .sale-ranking li a .product-info .price {
          margin: 12px 0;
          color: #bbbbbb; }
      .main-article04 .sale-ranking li a:before {
        content: '';
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: visibility 0s, opacity 0.3s linear; }
      .main-article04 .sale-ranking li a:hover:before {
        visibility: visible;
        opacity: 1; }

.main-visual.swiper-container {
  width: 100%;
  height: 760px; }
  .main-visual.swiper-container .swiper-slide {
    height: 0;
    padding-bottom: calc(766/1920*100%); }
    .main-visual.swiper-container .swiper-slide.slide-img01 {
      background-image: url(../images/main-visual-bg01.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .main-visual.swiper-container .swiper-slide.slide-img02 {
      background-image: url(../images/main-visual-bg02.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .main-visual.swiper-container .swiper-slide.slide-img03 {
      background-image: url(../images/main-visual-bg03.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .main-visual.swiper-container .swiper-slide .main-container {
      height: 760px; }
      .main-visual.swiper-container .swiper-slide .main-container .txt-area {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
        .main-visual.swiper-container .swiper-slide .main-container .txt-area .sub-title {
          display: inline-block;
          line-height: 30px;
          padding: 0 26px;
          border: 1px solid #bbbbbb;
          color: #bbbbbb;
          font-size: 14px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; }
        .main-visual.swiper-container .swiper-slide .main-container .txt-area .title {
          margin: 35px 0 45px;
          font-size: 36px;
          line-height: 45px;
          font-family: NanumSquare; }
        .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn {
          display: inline-block; }
          .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0 50px;
            line-height: 45px;
            border: 1px solid #666666;
            color: #666666;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box; }
  .main-visual.swiper-container .mv-pg-nation {
    bottom: 40px; }
    .main-visual.swiper-container .mv-pg-nation span {
      margin: 0 4px;
      font-family: Lato; }
  .main-visual.swiper-container .control-area {
    position: relative;
    bottom: 220px;
    height: 52px;
    margin: 0 auto; }
    .main-visual.swiper-container .control-area .mv-btn-next {
      left: 55px;
      right: auto;
      width: 52px;
      height: 52px;
      background-image: url(../images/pg-right-off.png);
      transition: all 0.2s; }
      .main-visual.swiper-container .control-area .mv-btn-next:after {
        content: ''; }
      .main-visual.swiper-container .control-area .mv-btn-next:hover {
        background-image: url(../images/pg-right-on.png); }
    .main-visual.swiper-container .control-area .mv-btn-prev {
      left: 0;
      right: auto;
      width: 52px;
      height: 52px;
      background-image: url(../images/pg-left-off.png);
      transition: all 0.2s; }
      .main-visual.swiper-container .control-area .mv-btn-prev:after {
        content: ''; }
      .main-visual.swiper-container .control-area .mv-btn-prev:hover {
        background-image: url(../images/pg-left-on.png); }
    .main-visual.swiper-container .control-area .control-autoplay {
      position: absolute;
      left: 106px;
      z-index: 2;
      height: 100%; }
      .main-visual.swiper-container .control-area .control-autoplay button {
        width: 52px;
        height: 52px; }
        .main-visual.swiper-container .control-area .control-autoplay button.play {
          background-image: url(../images/autoplay-play.png); }
        .main-visual.swiper-container .control-area .control-autoplay button.stop {
          background-image: url(../images/autoplay-stop.png); }

.main-article04 .title {
  margin: 0 0 50px 0;
  text-align: center;
  font-family: NanumSquare;
  font-size: 26px; }
.main-article04 .sale-ranking {
  padding-top: 42px; }
  .main-article04 .sale-ranking li {
    float: left;
    width: calc(100%/4 - 45px); }
    .main-article04 .sale-ranking li:last-child {
      margin-right: 0; }
    .main-article04 .sale-ranking li a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%; }
      .main-article04 .sale-ranking li a .rank-num {
        position: relative;
        width: 40px;
        height: 40px;
        margin: -20px auto 0;
        line-height: 40px;
        text-align: center;
        background: #167a68;
        color: #ffffff; }
        .main-article04 .sale-ranking li a .rank-num.first-rank:before {
          content: '';
          position: absolute;
          top: -21px;
          display: block;
          width: 41px;
          height: 21px;
          text-align: center;
          background: url(../images/icon_crown.png) no-repeat; }
      .main-article04 .sale-ranking li a .product-info {
        margin-top: 50px;
        text-align: center;
        font-family: NanumSquare; }
        .main-article04 .sale-ranking li a .product-info .name {
          font-size: 17px;
          color: #666666; }
        .main-article04 .sale-ranking li a .product-info .price {
          margin: 12px 0;
          color: #bbbbbb; }
      .main-article04 .sale-ranking li a:before {
        content: '';
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: visibility 0s, opacity 0.3s linear; }
      .main-article04 .sale-ranking li a:hover:before {
        visibility: visible;
        opacity: 1; }
  .main-article04 .sale-ranking .control-area {
    text-align: center; }
    .main-article04 .sale-ranking .control-area .sr-btn-prev {
      position: static;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0;
      background: url(../images/sale-ranking-prev.png) no-repeat center;
      border: 1px solid #bbbbbb;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      .main-article04 .sale-ranking .control-area .sr-btn-prev:after {
        content: ''; }
    .main-article04 .sale-ranking .control-area .sr-btn-next {
      position: static;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 15px 0 0;
      background: url(../images/sale-ranking-next.png) no-repeat center;
      border: 1px solid #bbbbbb;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      .main-article04 .sale-ranking .control-area .sr-btn-next:after {
        content: ''; }
    .main-article04 .sale-ranking .control-area .control-autoplay {
      display: inline-block;
      vertical-align: top; }
      .main-article04 .sale-ranking .control-area .control-autoplay button {
        width: 12px;
        height: 12px; }
        .main-article04 .sale-ranking .control-area .control-autoplay button.play {
          background-image: url(../images/sale-ranking-play.png); }
        .main-article04 .sale-ranking .control-area .control-autoplay button.stop {
          background-image: url(../images/sale-ranking-stop.png); }

/*# sourceMappingURL=style.css.map */
