@charset "UTF-8";
/* ===================
copyright 문세미 all rights reserved
-------------------------------------
The writer : 문세미
Time for first: 2020-06-23,
Time for refresh lately:
Inheritor : 문세미
====================*/
/* ===================

 ! 가이드라인

 호출 순서 ( 앞에 기재된 scss를 먼저 호출 )
 1. base : reset.css / _font.scss (초기화/폰트)
 2. helper : mixin.scss (SASS믹스인/함수)
 3. layout : _components / _header.scss / _footer.scss (홈페이지의 크고 작은 구성요소)
 4. pages : main / sub 특성화된 scss
 5. vendor : 외부 라이브러리와 프레임워크에서 제공하는 CSS파일

 ※ reset을 제외한 scss앞에 _(언더바)를 붙일 것.
   _(언더바)붙인 파일은 부분화 파일임을 명시함.

====================== */
@import url(base/reset.css);
@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url("../font/Lato-Light.eot");
  src: url("../font/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Light.woff") format("woff"), url("../font/Lato-Light.otf") format("opentype"), url("../font/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 500;
  src: url("../font/Lato-Regular.eot");
  src: url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Regular.woff") format("woff"), url("../font/Lato-Regular.otf") format("opentype"), url("../font/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url("../font/Lato-Bold.eot");
  src: url("../font/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Bold.woff") format("woff"), url("../font/Lato-Bold.otf") format("opentype"), url("../font/Lato-Bold.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url("../font/Lato-Black.eot");
  src: url("../font/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Black.woff") format("woff"), url("../font/Lato-Black.otf") format("opentype"), url("../font/Lato-Black.ttf") format("truetype"); }
@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  src: url("../font/NanumSquareL.eot");
  src: url("../font/NanumSquareL.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareL.woff") format("woff"), url("../font/NanumSquareL.otf") format("opentype"), url("../font/NanumSquareL.ttf") format("truetype"); }
@font-face {
  font-family: NanumSquare;
  font-weight: 500;
  src: url("../font/NanumSquareR.eot");
  src: url("../font/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareR.woff") format("woff"), url("../font/NanumSquareR.otf") format("opentype"), url("../font/NanumSquareR.ttf") format("truetype"); }
@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  src: url("../font/NanumSquareB.eot");
  src: url("../font/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareB.woff") format("woff"), url("../font/NanumSquareB.otf") format("opentype"), url("../font/NanumSquareB.ttf") format("truetype"); }
@font-face {
  font-family: NanumGothic;
  font-weight: 500;
  src: url("../font/NanumGothic-Regular.eot");
  src: url("../font/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic-Regular.woff") format("woff"), url("../font/NanumGothic-Regular.otf") format("opentype"), url("../font/NanumGothic-Regular.ttf") format("truetype"); }
@font-face {
  font-family: NanumGothic;
  font-weight: 700;
  src: url("../font/NanumGothic-Bold.eot");
  src: url("../font/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic-Bold.woff") format("woff"), url("../font/NanumGothic-Bold.otf") format("opentype"), url("../font/NanumGothic-Bold.ttf") format("truetype"); }
@font-face {
  font-family: NanumGothic;
  font-weight: 900;
  src: url("../font/NanumGothic-ExtraBold.eot");
  src: url("../font/NanumGothic-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic-ExtraBold.woff") format("woff"), url("../font/NanumGothic-ExtraBold.otf") format("opentype"), url("../font/NanumGothic-ExtraBold.ttf") format("truetype"); }
.main-content .txt-area {
  float: left;
  margin-left: 10%;
  margin-top: 13%; }
  @media all and (min-width: 0) and (max-width: 1065px) {
    .main-content .txt-area {
      float: none;
      margin-left: 0;
      margin-top: 45px;
      text-align: center; } }
  .main-content .txt-area .sub-txt {
    letter-spacing: 7.5px;
    color: #bbbbbb;
    font-size: 18px; }
  .main-content .txt-area .title {
    margin: 15px 0 30px;
    font-family: NanumSquare;
    font-size: 26px; }
  .main-content .txt-area .content {
    margin-bottom: 35px;
    color: #b2a8a2;
    line-height: 26px; }
  .main-content .txt-area .view-detail a {
    position: relative;
    display: inline-block;
    color: #666666; }
    .main-content .txt-area .view-detail a:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 0;
      height: 1px;
      margin-left: 10px;
      transition: width 0.3s;
      background: #666666; }
    .main-content .txt-area .view-detail a:hover:after {
      width: 65px; }
      @media all and (min-width: 0) and (max-width: 992px) {
        .main-content .txt-area .view-detail a:hover:after {
          width: 0; } }

body {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  font-family: Lato, NanumGothic, NanumSquare, san-serif; }
  @media all and (min-width: 0) and (max-width: 480px) {
    body {
      font-size: 14px; } }

body.band {
  position: relative;
  height: 100%;
  overflow: hidden; }

.main-container {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto; }
  @media all and (min-width: 0) and (max-width: 1500px) {
    .main-container {
      max-width: 100%;
      margin: 0 24px; } }

.main-content-container {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: 150px auto 0; }
  @media all and (min-width: 0) and (max-width: 1500px) {
    .main-content-container {
      max-width: 100%;
      margin: 110px 24px; } }

footer {
  margin: 100px 0 0 0; }
  footer .top-side {
    line-height: 45px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb; }
    footer .top-side li {
      float: left;
      margin-right: 12px; }
      footer .top-side li a {
        color: #999999; }
        footer .top-side li a:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          margin-left: 12px;
          background: #bbbbbb;
          vertical-align: middle; }
      footer .top-side li.privacy-policy {
        margin-right: 0; }
        footer .top-side li.privacy-policy a {
          color: #666666;
          font-weight: 700; }
          footer .top-side li.privacy-policy a:after {
            display: none; }
  footer .bottom-side {
    margin: 45px auto;
    font-size: 14px;
    color: #999999; }
    @media all and (min-width: 0) and (max-width: 1500px) {
      footer .bottom-side {
        margin: 45px 24px; } }
    footer .bottom-side .footer-info01 {
      float: left; }
      footer .bottom-side .footer-info01 p {
        margin-bottom: 5px;
        font-family: Lato; }
        footer .bottom-side .footer-info01 p:last-child {
          margin-bottom: 0; }
      @media all and (min-width: 0) and (max-width: 980px) {
        footer .bottom-side .footer-info01 {
          float: none; } }
    footer .bottom-side .footer-info02 {
      float: right; }
      footer .bottom-side .footer-info02 .sns-area {
        margin-bottom: 20px;
        text-align: right; }
        footer .bottom-side .footer-info02 .sns-area li {
          display: inline-block;
          margin-right: 5px; }
          footer .bottom-side .footer-info02 .sns-area li:last-child {
            margin-right: 0; }
      @media all and (min-width: 0) and (max-width: 980px) {
        footer .bottom-side .footer-info02 {
          float: none; }
          footer .bottom-side .footer-info02 .sns-area {
            margin: 25px 0 20px;
            text-align: left; } }

header {
  line-height: 95px; }
  header .main-container .logo {
    float: left; }
  header .main-container .pc-lnb-menu {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    margin-top: -11px; }
    header .main-container .pc-lnb-menu span {
      display: block;
      width: 30px;
      height: 2px;
      background: #333333;
      transition: all 0.3s ease-in-out; }
      header .main-container .pc-lnb-menu span:nth-child(2) {
        margin: 8px 0; }
    header .main-container .pc-lnb-menu.active {
      transition: all 0.3s ease-in-out;
      transition-delay: 0.6s;
      transform: rotate(45deg); }
      header .main-container .pc-lnb-menu.active span {
        background: #ffffff; }
        header .main-container .pc-lnb-menu.active span:nth-child(1) {
          transition-delay: 0.3s;
          transform: translateY(13px); }
        header .main-container .pc-lnb-menu.active span:nth-child(2) {
          width: 0px;
          margin: 11px 0; }
        header .main-container .pc-lnb-menu.active span:nth-child(3) {
          transition-delay: 0.3s;
          transform: translateY(-13px) rotate(90deg); }
  header .pc-lnb-open {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #167a68;
    overflow-y: auto; }
    header .pc-lnb-open ul {
      margin: 200px auto 0;
      text-align: center; }
      header .pc-lnb-open ul li {
        margin-bottom: 60px;
        line-height: 1; }
        header .pc-lnb-open ul li a {
          position: relative;
          display: inline-block;
          font-size: 30px;
          color: #ffffff; }
          header .pc-lnb-open ul li a:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            display: inline-block;
            width: 0;
            height: 2px;
            background: #ffffff;
            transition: width 0.3s; }
          header .pc-lnb-open ul li a:hover:after {
            width: 100%; }
      @media all and (min-width: 0) and (max-width: 720px) {
        header .pc-lnb-open ul {
          margin: 100px auto 0; }
          header .pc-lnb-open ul li {
            margin-bottom: 40px; }
            header .pc-lnb-open ul li a {
              font-size: 26px; } }

.main-content {
  background-size: 100%;
  background-repeat: no-repeat; }

.main-article01 {
  background-image: url(../images/main-article01-bg.png); }
  @media all and (min-width: 0) and (max-width: 992px) {
    .main-article01 {
      background-image: url(../images/tab-main-article01-bg.png); } }
  .main-article01 .img-area {
    float: left; }
    @media all and (min-width: 0) and (max-width: 1065px) {
      .main-article01 .img-area {
        float: none;
        text-align: center; } }

.main-article02 .txt-area {
  float: none;
  margin-top: 3%; }
.main-article02 .img-area {
  margin-top: 45px; }
  .main-article02 .img-area li {
    position: relative;
    float: left;
    width: 205px;
    height: 205px;
    margin-right: 35px;
    transition: transform 0.5s;
    transform-style: preserve-3d; }
    .main-article02 .img-area li:last-child {
      margin-right: 0; }
    .main-article02 .img-area li:hover {
      transform: rotateY(180deg); }
    .main-article02 .img-area li a {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .main-article02 .img-area li a.flip-card-back {
        transform: rotateY(180deg); }
  @media all and (min-width: 0) and (max-width: 980px) {
    .main-article02 .img-area li {
      float: none;
      margin: 0 auto 40px; }
      .main-article02 .img-area li:last-child {
        margin: 0 auto; } }

.main-article03 {
  background-image: url(../images/main-article03-bg.png); }
  @media all and (min-width: 0) and (max-width: 720px) {
    .main-article03 {
      background-image: url(../images/mob-main-article03-bg.png); } }
  .main-article03 .txt-area {
    float: right;
    margin-right: 8%;
    margin-left: 0; }
    .main-article03 .txt-area .title {
      margin: 15px 0 40px; }
    .main-article03 .txt-area li {
      float: left;
      margin-right: 40px;
      margin-bottom: 40px; }
      .main-article03 .txt-area li:last-child {
        margin-right: 0; }
    @media all and (min-width: 0) and (max-width: 720px) {
      .main-article03 .txt-area {
        float: none;
        margin: 0;
        padding-top: 52%; }
        .main-article03 .txt-area ul {
          width: 335px;
          margin: 0 auto; } }

.main-visual.swiper-container {
  width: 100%;
  height: 0;
  padding-bottom: calc(766/1920*100%); }
  @media all and (min-width: 0) and (max-width: 992px) {
    .main-visual.swiper-container {
      padding-bottom: calc(1218/992*100%); } }
  @media all and (min-width: 0) and (max-width: 720px) {
    .main-visual.swiper-container {
      padding-bottom: calc(772/720*100%); } }
  .main-visual.swiper-container .swiper-slide {
    height: 0;
    padding-bottom: calc(766/1920*100%); }
    .main-visual.swiper-container .swiper-slide.slide-img01 {
      background-image: url(../images/main-visual-bg01.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .main-visual.swiper-container .swiper-slide.slide-img02 {
      background-image: url(../images/main-visual-bg02.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .main-visual.swiper-container .swiper-slide.slide-img03 {
      background-image: url(../images/main-visual-bg03.png);
      background-repeat: no-repeat;
      background-size: cover; }
    @media all and (min-width: 0) and (max-width: 992px) {
      .main-visual.swiper-container .swiper-slide {
        padding-bottom: calc(1218/992*100%); }
        .main-visual.swiper-container .swiper-slide.slide-img01 {
          background-image: url(../images/tab-main-visual-bg01.png); }
        .main-visual.swiper-container .swiper-slide.slide-img02 {
          background-image: url(../images/tab-main-visual-bg02.png); }
        .main-visual.swiper-container .swiper-slide.slide-img03 {
          background-image: url(../images/tab-main-visual-bg03.png); } }
    @media all and (min-width: 0) and (max-width: 720px) {
      .main-visual.swiper-container .swiper-slide {
        padding-bottom: calc(772/720*100%); }
        .main-visual.swiper-container .swiper-slide.slide-img01 {
          background-image: url(../images/mob-main-visual-bg01.png); }
        .main-visual.swiper-container .swiper-slide.slide-img02 {
          background-image: url(../images/mob-main-visual-bg02.png); }
        .main-visual.swiper-container .swiper-slide.slide-img03 {
          background-image: url(../images/mob-main-visual-bg03.png); } }
    .main-visual.swiper-container .swiper-slide .main-container {
      height: 0;
      padding-bottom: calc(766/1920*100%); }
      @media all and (min-width: 0) and (max-width: 992px) {
        .main-visual.swiper-container .swiper-slide .main-container {
          padding-bottom: calc(1218/992*100%); } }
      @media all and (min-width: 0) and (max-width: 720px) {
        .main-visual.swiper-container .swiper-slide .main-container {
          padding-bottom: calc(772/720*100%); } }
      .main-visual.swiper-container .swiper-slide .main-container .txt-area {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%; }
        .main-visual.swiper-container .swiper-slide .main-container .txt-area .sub-title {
          display: inline-block;
          line-height: 30px;
          padding: 0 26px;
          border: 1px solid #bbbbbb;
          color: #bbbbbb;
          font-size: 14px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; }
        .main-visual.swiper-container .swiper-slide .main-container .txt-area .title {
          margin: 35px 0 45px;
          font-size: 36px;
          line-height: 45px;
          font-family: NanumSquare; }
        .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn {
          display: inline-block; }
          .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0 50px;
            line-height: 45px;
            border: 1px solid #666666;
            color: #666666;
            transition: all 0.3s;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box; }
          .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn:hover a {
            background: #999999;
            color: #ffffff; }
            @media all and (min-width: 0) and (max-width: 992px) {
              .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn:hover a {
                background: transparent;
                color: #666666; } }
        @media all and (min-width: 0) and (max-width: 992px) {
          .main-visual.swiper-container .swiper-slide .main-container .txt-area {
            left: 50%;
            top: auto;
            bottom: 12%;
            transform: translate(-50%, 0);
            text-align: center; }
            .main-visual.swiper-container .swiper-slide .main-container .txt-area .sub-title {
              display: block;
              width: 106px;
              margin: 0 auto; }
            .main-visual.swiper-container .swiper-slide .main-container .txt-area .title {
              margin: 30px 0 38px; }
            .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn {
              display: block;
              width: 173px;
              margin: 0 auto; } }
        @media all and (min-width: 0) and (max-width: 720px) {
          .main-visual.swiper-container .swiper-slide .main-container .txt-area {
            bottom: 13%; }
            .main-visual.swiper-container .swiper-slide .main-container .txt-area .title {
              margin: 12px 0 20px;
              font-size: 28px; }
            .main-visual.swiper-container .swiper-slide .main-container .txt-area .view-btn a {
              line-height: 35px; } }
        @media all and (min-width: 0) and (max-width: 480px) {
          .main-visual.swiper-container .swiper-slide .main-container .txt-area .title {
            margin: 10px 0 18px;
            font-size: 21px;
            line-height: 28px; } }
  .main-visual.swiper-container .mv-pg-nation {
    bottom: 5%; }
    @media all and (min-width: 0) and (max-width: 992px) {
      .main-visual.swiper-container .mv-pg-nation {
        bottom: auto;
        top: 5%; } }
    @media all and (min-width: 0) and (max-width: 992px) {
      .main-visual.swiper-container .mv-pg-nation {
        top: 3%; } }
    .main-visual.swiper-container .mv-pg-nation span {
      margin: 0 4px;
      font-family: Lato; }
  .main-visual.swiper-container .main-container {
    height: 0;
    padding-bottom: calc(766/1920*100%); }
    @media all and (min-width: 0) and (max-width: 992px) {
      .main-visual.swiper-container .main-container {
        padding-bottom: calc(1218/992*100%); } }
    @media all and (min-width: 0) and (max-width: 720px) {
      .main-visual.swiper-container .main-container {
        padding-bottom: calc(772/720*100%); } }
    .main-visual.swiper-container .main-container .control-area {
      position: absolute;
      bottom: 15%;
      z-index: 3;
      width: 216px;
      height: 52px; }
      @media all and (min-width: 0) and (max-width: 1500px) {
        .main-visual.swiper-container .main-container .control-area {
          bottom: 1%; } }
      @media all and (min-width: 0) and (max-width: 992px) {
        .main-visual.swiper-container .main-container .control-area {
          left: 50%;
          transform: translateX(-50%); } }
      @media all and (min-width: 0) and (max-width: 480px) {
        .main-visual.swiper-container .main-container .control-area {
          bottom: 0; } }
      .main-visual.swiper-container .main-container .control-area .mv-btn-next {
        left: 55px;
        right: auto;
        top: 0;
        width: 52px;
        height: 52px;
        margin-top: 0;
        background-image: url(../images/pg-right-off.png);
        transition: all 0.2s; }
        .main-visual.swiper-container .main-container .control-area .mv-btn-next:after {
          content: ''; }
        .main-visual.swiper-container .main-container .control-area .mv-btn-next:hover {
          background-image: url(../images/pg-right-on.png); }
      .main-visual.swiper-container .main-container .control-area .mv-btn-prev {
        left: 0;
        right: auto;
        top: 0;
        width: 52px;
        height: 52px;
        margin-top: 0;
        background-image: url(../images/pg-left-off.png);
        transition: all 0.2s; }
        .main-visual.swiper-container .main-container .control-area .mv-btn-prev:after {
          content: ''; }
        .main-visual.swiper-container .main-container .control-area .mv-btn-prev:hover {
          background-image: url(../images/pg-left-on.png); }
      .main-visual.swiper-container .main-container .control-area .control-autoplay {
        position: absolute;
        left: 106px;
        z-index: 2;
        height: 100%; }
        .main-visual.swiper-container .main-container .control-area .control-autoplay button {
          width: 52px;
          height: 52px; }
          .main-visual.swiper-container .main-container .control-area .control-autoplay button.play {
            background-image: url(../images/autoplay-play.png); }
          .main-visual.swiper-container .main-container .control-area .control-autoplay button.stop {
            background-image: url(../images/autoplay-stop.png); }

.main-article04 .title {
  margin: 0 0 50px 0;
  text-align: center;
  font-family: NanumSquare;
  font-size: 26px; }
  @media all and (min-width: 0) and (max-width: 480px) {
    .main-article04 .title {
      font-size: 23px; } }
.main-article04 .sale-ranking {
  padding-top: 42px; }
  .main-article04 .sale-ranking li {
    float: left;
    width: calc(100%/4 - 45px); }
    .main-article04 .sale-ranking li:last-child {
      margin-right: 0; }
    .main-article04 .sale-ranking li a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%; }
      .main-article04 .sale-ranking li a .rank-num {
        position: relative;
        width: 40px;
        height: 40px;
        margin: -20px auto 0;
        line-height: 40px;
        text-align: center;
        background: #167a68;
        color: #ffffff; }
        .main-article04 .sale-ranking li a .rank-num.first-rank:before {
          content: '';
          position: absolute;
          top: -21px;
          display: block;
          width: 41px;
          height: 21px;
          text-align: center;
          background: url(../images/icon_crown.png) no-repeat; }
      .main-article04 .sale-ranking li a .product-info {
        margin-top: 50px;
        text-align: center;
        font-family: NanumSquare; }
        .main-article04 .sale-ranking li a .product-info .name {
          font-size: 17px;
          color: #666666; }
        .main-article04 .sale-ranking li a .product-info .price {
          margin: 12px 0;
          color: #bbbbbb; }
      .main-article04 .sale-ranking li a:before {
        content: '';
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: visibility 0s, opacity 0.3s linear; }
      .main-article04 .sale-ranking li a:hover:before {
        visibility: visible;
        opacity: 1; }
        @media all and (min-width: 0) and (max-width: 992px) {
          .main-article04 .sale-ranking li a:hover:before {
            visibility: hidden;
            opacity: 0; } }
  .main-article04 .sale-ranking .control-area {
    margin-top: 40px;
    text-align: center; }
    .main-article04 .sale-ranking .control-area .sr-btn-prev {
      position: static;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0;
      background: url(../images/sale-ranking-prev.png) no-repeat center;
      border: 1px solid #bbbbbb;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      .main-article04 .sale-ranking .control-area .sr-btn-prev:after {
        content: ''; }
      .main-article04 .sale-ranking .control-area .sr-btn-prev:hover {
        background: url(../images/sale-ranking-prev.png) no-repeat center #f3f3f3; }
    .main-article04 .sale-ranking .control-area .sr-btn-next {
      position: static;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 0 0 -4px;
      background: url(../images/sale-ranking-next.png) no-repeat center;
      border: 1px solid #bbbbbb;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      .main-article04 .sale-ranking .control-area .sr-btn-next:after {
        content: ''; }
      .main-article04 .sale-ranking .control-area .sr-btn-next:hover {
        background: url(../images/sale-ranking-next.png) no-repeat center #f3f3f3; }
    .main-article04 .sale-ranking .control-area .control-autoplay {
      display: inline-block;
      height: 30px;
      margin-left: -3px;
      vertical-align: top; }
      .main-article04 .sale-ranking .control-area .control-autoplay button {
        width: 30px;
        height: 100%;
        border: 1px solid #bbbbbb;
        border-left: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
        .main-article04 .sale-ranking .control-area .control-autoplay button.sr-play {
          display: none;
          background: url(../images/sale-ranking-play.png) no-repeat center; }
        .main-article04 .sale-ranking .control-area .control-autoplay button.sr-stop {
          background: url(../images/sale-ranking-stop.png) no-repeat center; }

.main-article05 .title {
  margin: 150px 0 40px 0;
  text-align: center;
  font-family: NanumSquare;
  font-size: 26px; }
.main-article05 .bg-area {
  padding: 65px 0 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
.main-article05 .main-content-container {
  margin: 0 auto; }
  @media all and (min-width: 0) and (max-width: 1500px) {
    .main-article05 .main-content-container {
      margin: 0 24px; } }
.main-article05 .best-review-area {
  padding: 0 0 35px 0;
  text-align: center; }
  .main-article05 .best-review-area .best-review-txt {
    display: inline-block;
    background-image: url(../images/best-review-txt-bg-left.png), url(../images/best-review-txt-bg-right.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    vertical-align: top;
    font-family: NanumSquare; }
    .main-article05 .best-review-area .best-review-txt .content-txt {
      margin: 45px 45px 45px 65px;
      color: #666666;
      font-size: 23px;
      line-height: 35px; }
      @media all and (min-width: 0) and (max-width: 480px) {
        .main-article05 .best-review-area .best-review-txt .content-txt {
          margin: 45px 45px 25px 65px;
          font-size: 19px;
          line-height: 30px; } }
    .main-article05 .best-review-area .best-review-txt .name {
      margin: 0 0 8px 0;
      color: #999999;
      font-size: 17px; }
    .main-article05 .best-review-area .best-review-txt .user {
      margin: 0 0 45px 0;
      color: #999999;
      font-size: 17px; }
  .main-article05 .best-review-area .best-review-img {
    display: inline-block;
    margin-left: 70px;
    border: 2px solid #ffffff;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  @media all and (min-width: 0) and (max-width: 980px) {
    .main-article05 .best-review-area .best-review-txt {
      display: block; }
    .main-article05 .best-review-area .best-review-img {
      display: block;
      width: 236px;
      height: 236px;
      margin: 0 auto; } }
.main-article05 .review-slide {
  padding: 0 35px; }
  .main-article05 .review-slide a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transition: all 0.2s; }
    .main-article05 .review-slide a .img-side {
      float: left;
      width: 120px;
      background: #f3f3f3; }
    .main-article05 .review-slide a .txt-side {
      float: left;
      width: calc(100% - 120px);
      padding: 20px 35px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      .main-article05 .review-slide a .txt-side .name {
        color: #666666; }
      .main-article05 .review-slide a .txt-side .content-txt {
        margin: 6px 0 12px;
        color: #999999;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .main-article05 .review-slide a .txt-side .user-date span {
        color: #999999; }
        .main-article05 .review-slide a .txt-side .user-date span:first-child {
          margin-right: 12px; }
        .main-article05 .review-slide a .txt-side .user-date span:last-child {
          font-family: Lato; }
      @media all and (min-width: 0) and (max-width: 480px) {
        .main-article05 .review-slide a .txt-side {
          padding: 9px; }
          .main-article05 .review-slide a .txt-side .user-date span {
            display: block; }
            .main-article05 .review-slide a .txt-side .user-date span:first-child {
              margin-bottom: 12px; } }
      @media all and (min-width: 0) and (max-width: 370px) {
        .main-article05 .review-slide a .txt-side {
          padding: 0 9px; } }
    .main-article05 .review-slide a:hover {
      margin-top: -2px;
      -webkit-box-shadow: 0px 0px 10px 0px #b4b4b4;
      -moz-box-shadow: 0px 0px 10px 0px #b4b4b4;
      box-shadow: 0px 0px 10px 0px #b4b4b4; }
      @media all and (min-width: 0) and (max-width: 992px) {
        .main-article05 .review-slide a:hover {
          margin-top: 0px;
          -webkit-box-shadow: 0px 0px 0 0px white;
          -moz-box-shadow: 0px 0px 0 0px white;
          box-shadow: 0px 0px 0 0px white; } }
  .main-article05 .review-slide .br-btn-prev {
    left: 0;
    width: 10px;
    height: 16px;
    margin-top: -8px;
    background: url(../images/sale-ranking-prev.png) no-repeat center; }
    .main-article05 .review-slide .br-btn-prev:after {
      content: ''; }
  .main-article05 .review-slide .br-btn-next {
    right: 0;
    width: 10px;
    height: 16px;
    margin-top: -8px;
    background: url(../images/sale-ranking-next.png) no-repeat center; }
    .main-article05 .review-slide .br-btn-next:after {
      content: ''; }
.main-article05 .view-more {
  display: block;
  width: 170px;
  margin: 35px auto 0; }
  .main-article05 .view-more a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    border: 1px solid #999999;
    color: #666666;
    transition: all 0.3s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .main-article05 .view-more:hover a {
    background: #999999;
    color: #ffffff; }
    @media all and (min-width: 0) and (max-width: 992px) {
      .main-article05 .view-more:hover a {
        background: transparent;
        color: #666666; } }

/*# sourceMappingURL=style.css.map */
